<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SignUpAuthentication</servlet-name>
        <servlet-class>Controllers.SignUpAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAuthentication</servlet-name>
        <servlet-class>Controllers.LoginAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResearchAuthentication</servlet-name>
        <servlet-class>Controllers.ResearchAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupAuthentication</servlet-name>
        <servlet-class>Controllers.GroupAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinGroupAuthentication</servlet-name>
        <servlet-class>Controllers.JoinGroupAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationAuthentication</servlet-name>
        <servlet-class>Controllers.NotificationAuthentication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpAuthentication</servlet-name>
        <url-pattern>/SignUpAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAuthentication</servlet-name>
        <url-pattern>/LoginAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResearchAuthentication</servlet-name>
        <url-pattern>/ResearchAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupAuthentication</servlet-name>
        <url-pattern>/GroupAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinGroupAuthentication</servlet-name>
        <url-pattern>/JoinGroupAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationAuthentication</servlet-name>
        <url-pattern>/NotificationAuthentication</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
